<section>
    <md-subheader>
        <md-button ng-click="ctrl.goCreate()">
            <ng-md-icon icon="add"></ng-md-icon>&nbsp;Agregar
        </md-button>
    </md-subheader>
    <md-content ng-if="!ctrl.addresses.length" layout-padding>
        <p>No hay direcciones</p>
    </md-content>
    <md-list ng-if="ctrl.addresses.lenght">
        <md-list-item ng-click="ctrl.goToAddress(address)" ng-repeat="address in ctrl.addresses">
            <span flex>{{address.name}}</span>
            <ng-md-icon ng-if="ctrl.activeAddress(address)" icon="store_mall_directory"></ng-md-icon>
        </md-list-item>
    </md-list>
</section>
<md-divider></md-divider>