<md-dialog aria-label="Crear cuenta nueva">
    <form name="signup" ng-cloak layout-fill flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Crear cuenta nueva</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
            <md-input-container class="md-prompt-input-container">
                <label>Correo electrónico</label>
                <input type="email" ng-model="ctrl.email" name="email" required />
                <div ng-messages="signup.email.$error">
                    <div ng-message="required">Es obligatorio</div>
                    <div ng-message="email">Inválido</div>
                </div>
            </md-input-container>
            <md-input-container class="md-prompt-input-container">
                <label>Contraseña</label>
                <input type="password" name="password" ng-model="ctrl.password" required />
                <div ng-messages="signup.password.$error">
                    <div ng-message="required">Es obligatorio</div>
                </div>
            </md-input-container>

            <div layout layout-align="center center" layout-padding>
                <md-progress-linear ng-class="{
                    'md-warn': ctrl.passwordScore === 0,
                    'md-accent': ctrl.passwordScore === 1,
                    'md-accent md-hue-1': ctrl.passwordScore === 2,
                    'md-accent md-hue-2': ctrl.passwordScore === 3,
                    'md-accent md-hue-3': ctrl.passwordScore === 4
                  }" value="{{ctrl.passwordScore * 25}}"></md-progress-linear>
                <span layout layout-align="center center"><ng-md-icon icon="{{{
                    0: 'sentiment_very_dissatisfied',
                    1: 'sentiment_dissatisfied',
                    2: 'sentiment_neutral',
                    3: 'sentiment_satisfied',
                    4: 'sentiment_very_satisfied'
                }[ctrl.passwordScore]}}" size="20"></ng-md-icon>
                </span>
            </div>
            <div ng-if="ctrl.serverError">{{ctrl.serverError}}</div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">
                Cancelar
            </md-button>
            <md-button ng-click="ctrl.confirm()" ng-disabled="!ctrl.canConfirm()">
                Confirmar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>