<md-dialog aria-label="Iniciar sesión">
    <form ng-cloak layout-fill flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Iniciar sesión</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
                <md-button ng-click="ctrl.existingAccount()">Ya tengo cuenta</md-button>
                <md-button ng-click="ctrl.createNewAccount()">Crear una nueva cuenta</md-button>
        </md-dialog-content>
    </form>
</md-dialog>