<md-content layout="column" layout-padding>
    <md-input-container>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="ctrl.product.name" disabled/>
    </md-input-container>
    <md-input-container>
        <label>Descripción</label>
        <textarea style="resize: vertical" rows="4" name="description" ng-model="ctrl.product.description" disabled></textarea>
    </md-input-container>
    <md-input-container>
        <label>Local</label>
        <input type="text" name="shop" ng-model="ctrl.shop.name" disabled />
    </md-input-container>
</md-content>